{{> header}}
<div class="container">
    <h1>Adler IT230 WebApp</h1>
    <hr>

    <div>
        <h3>Search for a Zombie Movie or select from the list below</h3>
        <form action="/details" method="POST">
            <input type="text" placeholder="Title" name="title">
            <button>Search!</button>
        </form>
    </div>

    <div>
        <ul>
            {{# each allMovies}}
            <li><a href="/details?title={{title}}">{{title}}</a></li>
            {{/each}}
        </ul>
    </div>
</div>
<!--end container-->

{{> footer}}